body {
    background-color: #B7D8BD;
    font-family:'Major Mono Display', monospace;
}
.logoFont {
    font-family: 'Slackey',cursive;

}
#PromoBanner {
    justify-content: end;
    text-align: end;
    background-color: white;
    height: 100%;

}
.bannerExit {
    all: unset;
    cursor: pointer;

}
.bannerText {
    text-align: center;
    padding-bottom: .25rem;
    display: flow-root;
    font-size: 10px;
}
.bannerText h1 {
    margin-top: 0;

}

#NavBar {
    background-color: #B6D7BA;
    overflow: hidden;
    height: 50px;
  
}

.NavLink {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    float: right;
    margin-left: 20px;
    margin-right: 10px;
    
}
.NavLink:hover {
    opacity: 0.7;
    color: #F76C4B;
}
#MainBody {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#MainPizza {
    object-fit: cover;
    vertical-align: top;
    overflow: hidden;
    width: 100%;
    height: 600px; 
    
}

.BTN {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    
}
.MidPageLinks {
    font-size: 16px;
    margin: 20px;
    width: 120px;
    height: 60px;
    background-color: #F76C4B;
    border-radius: 60px;
    border: none;
    color: white;
    cursor: pointer;
    
}
.MidPageLinks:hover {
    font-weight: bold;
    width: 150px;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Instagram */
  .fa-instagram {
    background: #B6D7BA;
    color: #F76C4B;
  }
  .footer {
      display: grid;
      grid-template-areas: "main"
      "Login";
      grid-template-columns: 100%;
      grid-template-rows: 80px 20px;
      margin-left: auto;

  }
  #InstaLink {
      grid-area: "main";
      text-align: center;
  }
  #CopyRight {
      grid-area: "main";
  }
  #EmployeeLogin {
      grid-area: "Login";
  }